<div class="jumbotron text">
    <h1 class="display-4">Welcome to Barter Bay!</h1>
    <p class="lead">Our online store allows people to barter their old gaming electronics, computer hardware for similar items.  Barter Bank also allows people to sell their items for cash or crypto</p>
    <hr class="my-4">
    <p>One man's junk is another man's treasure.  Trade up your stuff to aquire an something that brings value to you.</p>
    <a class="btn btn-primary btn-lg" routerLink="/login" role="button">Start Bartering</a>
  </div>